<div>
    <div class="flex justify-between mx-5 p-4">
        <div class="flex gap-4">
            <h5><a routerLink="">Brandname</a></h5>
            <h5><a href="#">About</a></h5>
            <h5><a href="#">Career</a></h5>
            <h5><a routerLink="">Help</a></h5>
        </div>
        <div class="flex gap-4">
            <h5><a routerLink="/Admin">Sign Up</a></h5>
            <h5><a routerLink="Adminlogin">Login</a></h5>
            <h5><a href="#">9ja logo</a></h5>
        </div>
    </div>

    <div class="w-[50%] mx-auto">
        <div class="w-[80%] mx-auto border shadow my-4">
            <h4 class="text-[#681da8] text-xl flex justify-center my-2 hover:underline">Admin Sign Up Page</h4>
            <div class="w-[90%] mx-auto my-2">
                <label for="fname">First Name</label>
                <input type="text" name="fname" placeholder="Enter your First name" class="w-[100%] p-2 outline-none border rounded-md">
            </div>
            <div class="w-[90%] mx-auto my-2">
                <label for="lname">Last Name</label>
                <input type="text" name="lname" placeholder="Enter your Last Name" class="w-[100%] p-2 outline-none border rounded-md">
            </div>
            <div class="w-[90%] mx-auto my-2">
                <label for="Surname">Surname</label>
                <input type="text" name="surname" placeholder="Enter your Surnmae" class="w-[100%] p-2 outline-none border rounded-md">
            </div>
            <div class="w-[90%] mx-auto my-2">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter your Username" class="w-[100%] p-2 outline-none border rounded-md">
            </div>
            <div class="w-[90%] mx-auto my-2">
                <label for="adsress">Address</label>
                <input type="text" name="address" placeholder="Enter your Address" class="w-[100%] p-2 outline-none border rounded-md">
            </div>
            <div class="w-[90%] mx-auto my-2">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Enter your email" class="w-[100%] p-2 outline-none border rounded-md">
            </div>
            <div class="w-[90%] mx-auto my-2">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter your Password" class="w-[100%] p-2 outline-none border rounded-md">
            </div>
            <div class="flex w-[90%] mx-auto my-2">
                <label for="gender">Gender:</label>
                <div class="ms-10">
                    <label for="male">Male:</label>
                    <input type="radio" name="gender" class="ms-2">
                </div>
                <div class="ms-10">
                    <label for="female">Female:</label>
                    <input type="radio" name="gender" class="ms-2">
                </div>
                <div class="ms-10">
                    <label for="other">Other:</label>
                    <input type="radio" name="gender" class="ms-2">
                </div>
            </div>
            <div class="w-[90%] mx-auto my-2">
                <button type="submit" name="submit" class="flex justify-center p-3 bg-[#681da8] w-[100%] text-[#ffffff] rounded-md text-xl font-bold hover:underline">Sign Up</button>
            </div>
        </div>
    </div>
</div>
